.main {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;

  background-image: url("C:\Users\samfa\OneDrive\Desktop\react_inlamning\my-app\src\background-image.jpg");
  height: auto;
  background-size: auto;

}



.card {

  flex: 0 0 200px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  max-width: 370px;
  background-color: white;
  padding: 3rem 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 70px;
  max-height: fit-content;



}

.card img {
  max-width: 100%;
}

.card .text {
  padding: 0 20px 20px;
}

.card .text>button {
  background: #017284;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}



/*......App.css*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}






body {

  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  position: absolute;
  width: 100%;
  align-items: center;
  background: radial-gradient(at center center, #088F8F 0%, #DAF7A6 100%);
}

.logo {
  display: flex;
  color: whitesmoke;
  font-size: 24px;
}

.logo h4 {
  margin-left: 7px;
  letter-spacing: 1px;
  font-weight: lighter;


}

.navlinks {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50%;
  font-size: 24px;
}

.link {
  letter-spacing: 3px;
  font-weight: bold;
}

.link a {

  color: rgba(255, 255, 255, 0.85);
}

.link a:hover {
  color: rgba(255, 255, 255, 1);
}

.hamburger-toggle {
  cursor: pointer;
  color: white;
  display: none;

}


@media screen and (max-width:850px) {
  body {
    overflow-x: hidden;
  }

  .hamburger-toggle {
    display: block;
  }

  .navlinks {
    position: absolute;
    right: 0%;
    display: flex;
    flex-direction: column;
    height: 92vh;
    align-items: center;
    width: 100%;
    top: 8vh;
    background-color: rgb(38, 128, 0);
    font-size: 32px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

  }

  .activ {
    transform: translateX(0%);

  }

}


/* Inside src/App.css */


.title {
  text-align: center;
  width: 30vw;
  background-color: rgb(190, 164, 214);
  padding: 2vw 1vw;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;

  width: 30vw;
  padding: 2vw 1vw;
  background-color: rgb(250, 194, 194);
  border-radius: 0 0 10px 10px;
  margin: 300px;
  margin-left: 600px;

}

input {
  border: 1px solid rgb(172, 171, 171);
  border-radius: 10px;
  padding: 1vw 1vw;
  outline: none;
  margin: 5px;
}

.opta {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 10px;
  max-width: none;
  margin-top: 100px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  background-color: rgb(20, 226, 157);
  max-width: 40px;


}




form {
  display: block;
  margin-top: 250px;
}

select:not(:-internal-list-box) {
  overflow: visible !important;
}

select {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: field;
  cursor: default;
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border-radius: 0px;
}

option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.countries {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50%;
  font-size: 24px;
  margin: 150px;
  margin-left: 400px;
  padding: 50px;
  background-color: #088F8F;
  max-width: 100%;


}

.countries img {
  max-width: 100%;
  margin: 2px;
}

.league {

  margin: 50px;
  padding: 1vw 1vw;
}

.league a {

  color: aliceblue;
}