* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}






body {

    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    position: absolute;
    width: 100%;
    align-items: center;
}

.logo {
    display: flex;
    color: whitesmoke;
    font-size: 24px;
}

.logo h4 {
    margin-left: 7px;
    letter-spacing: 1px;
    font-weight: lighter;


}

.navlinks {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
    font-size: 24px;
}

.link {
    letter-spacing: 3px;
    font-weight: bold;
}

.link a {

    color: rgba(255, 255, 255, 0.85);
}

.link a:hover {
    color: rgba(255, 255, 255, 1);
}

.hamburger-toggle {
    cursor: pointer;
    color: white;
    display: none;

}

.main {

    background: url("./background-image.jpg"), radial-gradient(at center center, #088F8F 0%, #DAF7A6 100%);
    ;

    height: 100vh;
    background-position: center;
    background-size: center;

}

@media screen and (max-width:850px) {
    body{
        overflow-x: hidden;
    }

    .hamburger-toggle {
        display: block;
    }

    .navlinks {
        position: absolute;
        right: 0%;
        display: flex;
        flex-direction: column;
        height: 92vh;
        align-items: center;
        width: 100%;
        top: 8vh;
        background-color: rgb(38, 128, 0);
        font-size: 32px;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }

    .activ{
        transform: translateX(0%);

    }

}